.navbar .navbar-brand{
  font-family: Nunito Sans;
  font-size: 1.5rem;
  font-weight: bold;
  color: #c10000;
}

.navbar{
  padding-bottom: 0;
  padding-left: 0;
  background: rgba(255,255,255,0.9);
}

.nav-item{
  padding: 0 18px;
}

.navbar .nav-link{
  color: #c10000;
  font-size: 1rem;
  font-family: Lora;
}

.carousel-inner{
width: 100%;

}



.carousel_images{
  width: 100%;
  max-height: 800px !important;
}

.carousel-p{
  font-size: 25px
}


.carousel-inner-text {
  position: absolute;
  top: 20%;
  left: 20%;

  z-index: 20;
  color: white;
  font-family: Montserrat regular;
  font-size: 80px;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.btn-carousel{
  font-size: 25px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-carousel{
    background-color: #ff971d !important;
}

.btn-carousel:hover{
  background-color: transparent!important;
}

/* search */
#Search{
  text-align: center;
  background-color: #142850;

}

.search-heading{
  color: white;
  font-family: Lora;
  padding-top: 50px;
  font-size: 2rem;
}

.search{
  padding-top: 30px;

}

.search-area{
  text-align: left;
  color: white;
}
